* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.page {
    width: 1290px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    text-align: left;
}

.block1 h1 {
    margin: 0;
    font-size: 21px;
    line-height: 24px;
    font-weight: bold;
    text-align: center;
}


.block2 {
    width: 400px;
    margin: 36px auto 0;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}

.block2 p {
    color: #999;
    text-align: left;
}


.block3 {
    width: 400px;
    margin: 36px auto 0;
    text-align: center;
    margin-bottom: 90px;
}

.block3 p {

    font-size: 11px;
    line-height: 23px;
    color: #222;
    text-align: left;
}

.img1 {
    filter:
        grayscale(45%)
        saturate(15%)
        contrast(100%)
        brightness(120%);
 
}
.img1  {
    transform: scaleX(-1);
    display: block;
    margin: 0 auto; 
}


.block4 {
    width: 350px;
    margin: 90px auto 0;
    text-align: center;
    margin-bottom: 0px;
}

.block4 p {
    font-size: 17px;
    line-height: 19px;
    color: #222;
    text-align: left;
    font-weight:  bold;
}

.block5 {
    width: 400px;
    margin: 36px auto 0;
    text-align: center;
    margin-bottom: 64px;
}

.block5 p {
    font-size: 11px;
    line-height: 23px;
    color: #222;
    text-align: left;
}

.block6 {
    width: 350px;
    margin: 90px auto 0;
    text-align: center;
    margin-bottom: 0px;
}

.block6 p {
    font-size: 17px;
    line-height: 19px;
    color: #222;
    text-align: left;
    font-weight:  bold;
}

.block7 {
    width: 400px;
    margin: 36px auto 0;
    text-align: center;
    margin-bottom: 64px;
}

.block7 p {
    font-size: 11px;
    line-height: 23px;
    color: #222;
    text-align: left;
}

.block8 {
    width: 400px;
    margin: 36px auto 0;
    text-align: center;
    margin-bottom: 64px;
}

.block8 p {
    font-size: 11px;
    line-height: 23px;
    color: #222;
    text-align: left;
}